body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(191, 255, 241);
  transition: background-color 0.5s;
}

#main {
  transition: margin-right 0.5s;
}


/* SIDE NAV */
#menu-button {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 25px;
  margin-left: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 3em;
  color: rgb(101, 197, 176);
  transition: 0.5s;
}

#side-nav {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  padding-top: 100px;
  background-color: #D3C1C3;
  overflow-x: hidden;
  transition: 0.5s;
}

#side-nav a {
  padding: 32px 8px 32px 32px;
  text-decoration: none;
  font-size: 3em;
  color: #A16C72;
  display: block;
  transition: 0.3s;
}

#side-nav a:hover {
  color: #ECE7D0;
}

#side-nav-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-height: 450px) {
  #side-nav {padding-top: 15px; display: flex; flex-direction: column; justify-content: center;}
  #side-nav a {padding: 8px 8px 8px 32px;}
}

/* PORTFOLIO SECTIONS */
.portfolio-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 80px 16px;
  line-height: 2.5;
  color: rgb(3, 73, 58);
}

#about {
  background-color: #D1BCE3;
}

#projects {
  background-color: #EEE5BF;
}

#contact {
  background-color: #EFC69B;
}

/* PROJECTS SECTION */
#projects-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.project-container {
  position: relative;
  margin: 32px;
  width: 500px;
  border-radius: 5px;
  text-align: center;
  line-height: normal;
}

.project-container:hover {
  background-color: rgb(205, 255, 245);
}

.project-img-container {
  max-width: 100%;
  padding: 16px;
  background-color: rgb(0, 0, 0, 0.8);
}

.project-img {
  display: inline;
  max-width: 100%;
  max-height: 300px;
}

.project-desc {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(205, 255, 245, 0.8);
}

.project-desc > * {
  width: 75%;
  align-self: center;
}

.tech-stack {
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-left: none;
  border-right: none;
}

.project-link, #submit-btn {
  display: inline;
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(70, 168, 147);
  color: rgb(173, 241, 227);
  text-decoration: none;
}

.project-link:hover, #submit-btn:hover {
  color: rgb(205, 255, 245);
  cursor: pointer;
}

@media screen and (max-width: 1180px) {
  #projects-list {flex-flow: column nowrap;
    align-items: center;}
}

@media screen and (max-width: 564px) {
  .project-container {width: calc(100vw - 64px);}
  .project-desc {display: flex; position: relative; padding: 16px;}
}

/* CONTACT FORM */
#contact-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  min-width: 450px;
  width: 33%;
  margin: 32px;
  border-radius: 5px;
  border: rgb(101, 197, 176) solid 2px;
  background-color: rgb(173, 241, 227);
}

#contact-details, #submit-btn {
  margin: 16px;
  font-weight: bold;
}

#contact-details td {
  padding: 4px;
}

input, textarea {
  min-width: 300px;
}

textarea[name="message"] {
  height: 100px;
}

@media screen and (max-width: 564px) {
  #contact-form {width: calc(100vw - 64px); min-width: auto;}
  input {width: 100%; min-width: auto;}
  textarea {width: 100%; min-width: auto;}
}

/* SOCIAL MEDIA */
#social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.social-link {
  margin: 32px;
}

.social-logo {
  padding: 8px;
  height: 50px;
  border-radius: 5px;
}

.social-logo:hover {
  background-color: white;
}
